@model Palesteeny_Project.Models.Drawing

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Drawing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DrawingId" />
            <div class="form-group">
                <label asp-for="UserPalId" class="control-label"></label>
                <select asp-for="UserPalId" class="form-control" asp-items="ViewBag.UserPalId"></select>
                <span asp-validation-for="UserPalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mode" class="control-label"></label>
                <input asp-for="Mode" class="form-control" />
                <span asp-validation-for="Mode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemplateId" class="control-label"></label>
                <select asp-for="TemplateId" class="form-control" asp-items="ViewBag.TemplateId"></select>
                <span asp-validation-for="TemplateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrushType" class="control-label"></label>
                <input asp-for="BrushType" class="form-control" />
                <span asp-validation-for="BrushType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
