@{

    Layout = null;
}
@{
    var sections = new List<(string Name, string Controller)>
    {
        ("المستخدمين","Users"),
        ("المشرفين", "Admins"),
        ("الطلاب", "UserPals"),
        ("صفحة القصص الرئيسية", "Qusis1"),
        ("محتوى كل قصة", "QusiImages"),
        ("صفحة مكتبتي", "FavoriteStories"),
        ("الاشارات المرجعية", "StoryBookmarks1"),
        ("الصفوف الدراسية", "Semesters"),
        ("الكتب المدرسية", "Books1"),
        ("صفحة الدروس", "Lessons"),
        ("بيانات تقدم الطالب", "UserLessons1"),
         ("اسئلة تمارين الدروس", "ExerciseQuestions"),
        (" صفحة الاختبارات", "QuizQuestions"),
        ("نتائج الطلاب", "QuizResults"),
        ("اجابات الاختبار", "QuizOptions"),
        ("الرسام", "Drawings1"),
        ("القوالب", "Templates"),
        ("الإعلانات", "Ads1"),
        ("مركز المساعدة", "HelpQuestions"),
        ("صفحة المدن", "Cities"),
       
        ("مساعد الذكاء الاصطناعي", "AIAssistants"),
        ("تخصيص الذكاء الاصطناعي", "ChatLogs"),
        ("اجابات التمارين", "ExerciseOptions"),
        ("خانة البحث", "SearchableContents"),
       
        
     
    };
}
<link rel="stylesheet" href="~/css/tt.css" />
<div class="header-with-image">
    <h1>لوحة التحكم</h1>
    <p class="top-text">هنا يمكنك إدارة الأقسام المختلفة للموقع بسهولة من خلال الروابط أدناه.</p>
</div>

<div class="admin-sections-container">
    @foreach (var section in sections)
    {
        <a href="@Url.Action("Manage", section.Controller)" class="admin-section-card" tabindex="0">
            @(section.Name)
        </a>
    }
</div>
<div class="back-button-container">
    <a asp-controller="Admins0" asp-action="Index" class="back-button">العودة للصفحة الرئيسية</a>
</div>