@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>من نحن</title>
    <link rel="stylesheet" href="~/css/About.css">
</head>
<body>
    <section class="container">
        <div class="section">

            <div class="text-content">
                <h2 style=" text-shadow: 3px 3px 0px black, -3px -3px 0px black, -3px 3px 0px black, 3px -3px 0px black, 3px 0px 0px black, -3px 0px 0px black, 0px 3px 0px black, 0px -3px 0px black; color: hsla(98, 78%, 60%, 1); font-size: 45px; ">من نحن ؟</h2>
                <p>
                    مرحباً بكم في موقعنا التعليمي التفاعلي! نحن منصة مصممة خصيصاً للأطفال لتعليمهم عن تاريخ فلسطين، جغرافيتها، وأرثها الثقافي بطريقة ممتعة وسهلة.
                </p>
                <p>
                    انطلقت منصتنا لتكون رحلة استكشافية، حيث يتعرف الأطفال على فلسطين من خلال التفاعل وحل الألغاز واللعب في بيئة آمنة ومحفزة.
                </p>
                <p>
                    نهدف إلى تعزيز فهم الأطفال لهويتهم الثقافية، وتنمية حب الاستطلاع لديهم، مع التأكيد على القيم والروابط الاجتماعية.
                </p>
                <p>
                    كل جزء من منصتنا مصمم بعناية ليتناسب مع أعمار الأطفال، ويجعل التعلم عن فلسطين تجربة ممتعة وملهمة واكتشافاً!
                </p>
            </div>
            <img src="~/images/teenyAbout.png" alt="Teeny" class="avatar">
        </div>

        <div class="section">
            <img src="~/images/TeenaAbout.png" alt="Teena" class="avatar">
            <div class="text-content">
                <h2 style=" text-shadow: 3px 3px 0px black, -3px -3px 0px black, -3px 3px 0px black, 3px -3px 0px black, 3px 0px 0px black, -3px 0px 0px black, 0px 3px 0px black, 0px -3px 0px black; color: hsla(98, 78%, 60%, 1); font-size:45px; direction:ltr;">! تواصل معنا</h2>
                <p>
                    نحن هنا من أجلكم! إذا كان لديكم أي استفسارات أو اقتراحات، أو ترغبون في مشاركة فكرة معنا، لا تترددوا في التواصل. يمكنكم مراسلتنا عبر البريد الإلكتروني أو من خلال نموذج التواصل على الموقع.
                </p>
                <p>
                    نحب سماع آرائكم ونسعد بمساعدتكم دائماً!
                </p>
                <div class="contact">
                    <a href="#"><img src="~/images/email-icon.png" alt="بريد" class="icons"></a>
                    <a href="#"><img src="~/images/phone-icon.png" alt="واتساب" class="icons"></a>
                    <a href="#"><img src="~/images/insta-icon.png" alt="انستغرام" class="icons"></a>
                </div>

            </div>
        </div>
    </section>
</body>
</html>
