@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>حسابي</title>
    <link rel="stylesheet" href="~/css/Hesabi.css" />
</head>
<body>
    <div class="hesabi-title">
        <a class="h-title">حسابي</a>
        <a href="myprofile.html"><img src="~/images/left-arrow.png" width="54.5px" height="54.5px"></a>
    </div>
    <div class=" container">
        <div class="profile-box">
            <div class="profile-up">
                <div class="profile-img-div">
                    <img src="~/images/profileDef.png" alt="الصورة الشخصية" class="profile-img">
                </div>
                <div class="profile-info">
                    <p><strong>اسمي:</strong> سامي</p>
                    <p><strong>مرحلتي الدراسية:</strong> الخامس ابتدائي</p>
                    <p><strong>بريدي الالكتروني:</strong> sam123@gmail.com</p>
                </div>
            </div>
            <div class="profile-down">
                <button class="edit-btn">تعديل</button>
            </div>
        </div>
    </div>
    <div class="hesabi-title"><p class="h-title">مساعدي</p></div>
    <div class=" container">

        <div class="assistant-box">
            <div class="assistant">
                <img src="~/images/teeny.png" alt="مساعدي" class="assistant-img">
                <p class="assistant-name"><strong>تيني</strong></p>
            </div>
            <div class="assistant-info">
                <div class="assistant-gender">
                    <label for="gender">الجنس:</label>
                    <select id="gender" class="assistant-gender-sel" placeholder="الجنس">
                        <option value="male">ذكر</option>
                        <option value="female">أنثى</option>
                    </select>
                </div>
                <div class="assistant-color">
                    <label>اللون:</label>
                    <img class="assistant-colors" src="~/images/blue-color.png" />
                    <img src="~/images/pink-color.png" class="assistant-colors" />
                    <img src="~/images/green-color.png" class="assistant-colors" />
                    <img src="~/images/red-color.png" class="assistant-colors" />
                    <img src="~/images/yellow-color.png" class="assistant-colors" />
                </div>
            </div>

        </div>
        <div class="hesabi-bottom">
            <div class="lang">
                <img src="~/images/Langicon.png" class="langicon" />
                <label for="lang" class="lang-wr">اللغة:</label>
                <select id="lang" class="lang-sel" placeholder="اللغة">
                    <option value="ar">العربية</option>
                    <option value="en">English(US)</option>
                </select>


            </div>
            <button class="logout-btn">تسجيل الخروج</button>

        </div>

    </div>


</body>
</html>