@model Palesteeny_Project.Models.ExerciseMatch

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ExerciseMatch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExerciseMatchId" />
            <div class="form-group">
                <label asp-for="OptionText" class="control-label"></label>
                <input asp-for="OptionText" class="form-control" />
                <span asp-validation-for="OptionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchLabel" class="control-label"></label>
                <input asp-for="MatchLabel" class="form-control" />
                <span asp-validation-for="MatchLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchImageUrl" class="control-label"></label>
                <input asp-for="MatchImageUrl" class="form-control" />
                <span asp-validation-for="MatchImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionImageUrl" class="control-label"></label>
                <input asp-for="OptionImageUrl" class="form-control" />
                <span asp-validation-for="OptionImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseQuestionId" class="control-label"></label>
                <select asp-for="ExerciseQuestionId" class="form-control" asp-items="ViewBag.ExerciseQuestionId"></select>
                <span asp-validation-for="ExerciseQuestionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
